### Data Loading

In [2]:
import pandas as pd

df = pd.read_csv("regression_home_prices.csv")
df.head()

   area_sqr_ft  price_lakhs  bedrooms
0        656.0         39.0         2
1       1260.0         83.2         2
2       1057.0         86.6         3
3       1259.0         59.0         2
4       1800.0        140.0         3

In [3]:
from sklearn.model_selection import train_test_split

X = df[["area_sqr_ft","bedrooms"]]
y = df["price_lakhs"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

### Model Training using Linear regression

In [4]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8874887686858771

In [5]:
model.predict(X_test[:3])

array([79.15940002, 70.96469522, 63.51496358])

In [6]:
y_test[:3].to_list()

[68.0, 80.1, 69.0]

### Using Voting Regressor