### Data Loading

In [6]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

### Data Visualization

In [7]:
dir(housing)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [10]:
housing.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [8]:
print(housing.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

:Number of Instances: 20640

:Number of Attributes: 8 numeric, predictive attributes and the target

:Attribute Information:
    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude

:Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. rubric:: References

- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
  Statistics and Probability Letters, 33 (1997) 291-297

### Data Preprocessing

In [9]:
df = pd.DataFrame(housing.data, columns=housing.feature_names)
df.head()

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85    -122.25

In [11]:
df.shape

(20640, 8)

In [12]:
housing.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894], shape=(20640,))

In [14]:
df['MedHouseVal'] = housing.target
df.head()

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  MedHouseVal
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88    -122.23        4.526
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86    -122.22        3.585
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85    -122.24        3.521
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85    -122.25        3.413
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85    -122.25        3.422

In [15]:
df.isnull().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [17]:
df.describe()

             MedInc      HouseAge      AveRooms     AveBedrms  ...      AveOccup      Latitude     Longitude   MedHouseVal
count  20640.000000  20640.000000  20640.000000  20640.000000  ...  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675  ...      3.070655     35.631861   -119.569704      2.068558
std        1.899822     12.585558      2.474173      0.473911  ...     10.386050      2.135952      2.003532      1.153956
min        0.499900      1.000000      0.846154      0.333333  ...      0.692308     32.540000   -124.350000      0.149990
25%        2.563400     18.000000      4.440716      1.006079  ...      2.429741     33.930000   -121.800000      1.196000
50%        3.534800     29.000000      5.229129      1.048780  ...      2.818116     34.260000   -118.490000      1.797000
75%        4.743250     37.000000      6.052381      1.099526  ...      3.282261     37.710000   -118.010000      2.647250
max       15.000100     52.000000    141.909091     34.066667  ...   1243.333333     41.950000   -114.310000      5.000010

[8 rows x 9 columns]

### Train Test Split

In [21]:
from sklearn.model_selection import train_test_split

X = df.drop("MedHouseVal", axis="columns")
y = df["MedHouseVal"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

### Model Training: Linear Regression

In [28]:
from sklearn .linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import time 


start = time.time()
model = LinearRegression()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2_score_linear = r2_score(y_test, y_pred)
mse_linear = mean_squared_error(y_test, y_pred)
print("R2 score: ", r2_score_linear, " MSE: ", mse_linear, "Time: ", end-start)

R2 score:  0.6112568432827634  MSE:  0.5363427302501915 Time:  0.011254072189331055

### Model Training: Gradient Boosting

In [29]:
from sklearn.ensemble import GradientBoostingRegressor

start = time.time()
model = GradientBoostingRegressor()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2_score_gbm = r2_score(y_test, y_pred)
mse_gbm = mean_squared_error(y_test, y_pred)
print("R2 score: ", r2_score_gbm, " MSE: ", mse_gbm, "Time: ", end-start)

R2 score:  0.7949037002112376  MSE:  0.28296809215069896 Time:  5.559201717376709

### Model Training: XGBoost

In [30]:
from xgboost import XGBRegressor

start = time.time()
model = XGBRegressor()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2_score_xgbm = r2_score(y_test, y_pred)
mse_xgbm = mean_squared_error(y_test, y_pred)
print("R2 score: ", r2_score_xgbm, " MSE: ", mse_xgbm, "Time: ", end-start)

R2 score:  0.8428134619403308  MSE:  0.2168677583765697 Time:  0.5672948360443115